/* PAGINA HOME */
html { 
  height: 100%;
}

* { 
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.carousel-item {
    height: 50vh;
    min-height: 15%;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
   .navbar-brand img{
    height: 10%;
    width: 10%;
  } 

  .productos {
    margin-top: 3%;
    margin-left: 17%;
    
  }
  .productos h1{
    margin-left: 32%;
    
  }
  /* h1{
    margin-left: 30%;
    
  } */

  /* .noticia{
        margin-left: 25%;
  }

  aside{
    width: 35%;
    float: right;
  }

  .foto{
    width:70%;
    float: left;
    padding-left:20px;
    margin:0px auto 0px auto;
  } */

  /* .noticia {
    display: flex;
    /* justify-content: space-between; */
  /* }

  .foto {
    padding-left: 21%;
    width: 100%;
    height: 100%;
    flex: 1 0 auto;
    margin-right: 0%;
    float: left;
  }

  aside {
    /* flex: 1; */
    /* width: 10%;
    height: 10%;
    flex: 0 1 auto;
    margin-left: 0%;
    float: right;
  
  /* } */
  /* #noticia, #foto{
    height: 100%;
    
  } */
  #noticia{
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  align-content: center;
  padding-left: 21%;
  padding-right: 21%;  
   
    
}

#foto{
    
    width:60%;
    float: left;
    padding-left:21%;
    margin:0px auto 0px auto;
 

  
}
.rese{
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  align-content: center;
  padding-left: 21%;
  padding-right: 21%;  

}
.cuestionario{
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  align-content: center;
  padding-left: 21%;
  padding-right: 21%;  
  
}
.cuestionario img{
  width: 95%;
  height: 80%;
  align-content: center;
  padding-left: 21%;
  padding-right: 21%;  
 


}
.cuestionario p{
  font-size: 25px;
}

h1, h2, h3{
  font-family:'face' ;
}
 P{
  font-family: 'Times New Roman';
 }
 footer{
  background-color: lightgray;
  width:100%;
  display: flex;
  bottom: 0;
 }
 footer { 
  
  padding: 25px 20px 25px 20px;
  text-align: center; 
  background: lightgray;
  color: #fff;
  font: 130% 'Yanone Kaffeesatz', arial, sans-serif;
  text-decoration: none;
  color:#FFF;
  /* text-shadow: 1px 1px black; */
  
  
  
}
  
footer p { 
  line-height: 1.10em;
  padding-left: 15%;
  padding-top: 2%;
}
  
footer a { 
  color: black;
}

footer a:hover { 
  color: gray;
  text-shadow: none;
}
footer img{
  width: 7%;
  height: 15%;
  border-radius: 50%;
}
.video{
  float: left;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  align-content: center;
  padding-right: 5%;
  padding-left: 5%;
}
video{
  width: 50%;
  height: 40%;
}
.audio{

  justify-content: left;
  align-items: left;
  padding-left: 2%;

  
 

 
}
audio{
  width: 73%;
}

/* TERMINA PAGINA HOME */



/* PAGINA ABOUT*/
 .contenido {
  margin-top: 3%;
  text-align: center;
  
  /* margin-left: 0%;
  padding-left: 0%; */
  /* text-align: center; */
 }
 .contenido p{
  padding-left: 15%;
  padding-right: 15%;
  text-align: justify;
 }
 .contenido img{
  width: 50%;
  height: 25%;
 }

 .Team{
    margin-top: 6%;
    text-align: center;
    margin-bottom: 3%;
 }
 .Team img{
  width: 20% !important;
  height: 20% !important;
  border-radius: 50%;
  margin-right: 2%;
 }

 .navegacion {
  height: 2%;
 }

 /* .redonda{
  border-radius: 50%;
  margin-right: 2%;
 } */
/* TERMINA PAGINA ABOUT*/



/* PAGINA CONTACTO */

#contacto, #imagenaside{
  height: 100%;
  width: 100%;
}

/* #imagenaside{
  width: 30%;
  display: flex;
  margin:0px auto 0px auto;
 
}
#imagenaside img{
  width: 60%;
  height: 25%;
  padding-top: 10%;
} */

#contacto{
  
  width:90%;
  float: left;
  padding-left: 5%;
  padding-right: 5%;
  margin:0px auto 0px auto;
}
/* #contacto h1{
  padding-left: 15%;
} */
.mainContacto{ 
  /* display: flex; */
 /* flex-direction: column; */
    width: 100%;
}
.info{
  text-align: center;
  width: 100%;
}
.info p{
  font-size: 25px;
}
.Team img{
  width: 20%;
  height: 20%;
}

/* TERMINA PAGINA CONTACTO */


/* PAGINA GALERIA */

#col-lg-3 col-md-4 col-6{
  width: 400PX;
  height: 300PX;
}

/* PAGINA GALERIA */

#carrusel{
  margin-top: 7%;
}
 @font-face {
  font-family: 'face';
  src: url(/fuente/Crucial-Medium.otf);
}
@media screen and (min-width: 768px){
  .mainContacto{
  
    display: flex;
    flex-direction: row;
    width: 100%;
}

}



